<form method="post" action="{{ path('admin_concert_rate_delete', {'id': rate.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer ce tarif? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rate.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash me-2"></i>Supprimer</button>
</form>
