{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un morceau - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un morceau :</h1>

    <div class="my-4">
        <a href="{{ path('admin_songs') }}">&lt;- Revenir sur la liste des partitions</a>
    </div>

    {% include "admin/_form.html.twig" %}
{% endblock %}
