{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter une partition - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter une partition :</h1>

    <a href="{{ path('admin_songs') }}">Revenir sur la liste des partitions</a>

    {% include "admin/song/components/_sheet_form.html.twig" %}
{% endblock %}
