{% extends "admin/layout.html.twig" %}

{% block title %}Modification de mot de passe - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Modifier mot de passe</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Modifier</button>
    {{ form_end(form) }}
{% endblock %}
