<form method="post" action="{{ path('admin_content_legal_notice_delete', {'id': legal_notice.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer cette mention légale? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ legal_notice.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash me-2"></i>Supprimer</button>
</form>
