<div class="d-flex flex-column align-items-center mb-4">
    <button class="btn btn-info dropdown-toggle mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-admin-{{ concert.id }}" aria-expanded="false" aria-controls="collapse-admin-{{ concert.id }}">
        Admin
    </button>
    <ul class="collapse border-0 list-unstyled" id="collapse-admin-{{ concert.id }}">
        <div class="btn-group">
            {% if not concert.isValidated %}
                <li class="mx-1">
                    {% include "admin/components/concert/_validate_form.html.twig" %}
                </li>
            {% endif %}
            <li class="mx-1">
                <a class="btn btn-warning" href="{{ path('admin_concert_edit', {'id': concert.id}) }}">Modifier</a>
            </li>
            <li class="mx-1">
                {% include "admin/components/concert/_delete_form.html.twig" %}
            </li>
        </div>
    </ul>
</div>
