<div class="dropdown mb-4">
    <button class="btn btn-info dropdown-toggle" type="button" id="admin-dropdown-{{ concert.id }}" data-bs-toggle="dropdown" aria-expanded="false">
        Admin
    </button>
    <ul class="dropdown-menu border-0" aria-labelledby="admin-dropdown-{{ concert.id }}">
        <div class="btn-group">
            {% if not concert.isValidated %}
                <li class="mx-1">
                    {% include "admin/components/concert/_validate_form.html.twig" %}
                </li>
            {% endif %}
            <li class="mx-1">
                <a class="btn btn-warning" href="{{ path('admin_concert_edit', {'id': concert.id}) }}">Modifier</a>
            </li>
            <li class="mx-1">
                {% include "admin/components/concert/_delete_form.html.twig" %}
            </li>
        </div>
    </ul>
</div>
