<form action="{{ path('admin_concert_validate', {'id': concert.id}) }}" method="POST" onsubmit="return confirm('Es-tu certain·e de vouloir valider ce concert? Les informations qui lui sont liées apparaîtront alors dans le site public');">
    <input type="hidden" name="route" value="{{ app.request.attributes.get('_route') }}">
    <button class="btn btn-success">Valider</button>
</form>
