{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter une petite annonce - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter une petite annonce :</h1>

    <div class="my-4">
        <a href="{{ path('admin_offer_index') }}">&lt;- Revenir sur la liste des petites annonces</a>
    </div>

    {% include "admin/_form.html.twig" %}
{% endblock %}
