<form method="post" action="{{ path('admin_album_delete', {'id': album.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer cet album? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ album.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash me-2"></i>Supprimer</button>
</form>
