<form method="post" action="{{ path('admin_album_picture_delete', {'id': picture.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer cette image? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ picture.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
