{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter une partition - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter une partition :</h1>

    <a class="link-dark" href="{{ path('admin_song_edit', {'id': sheet.song.id}) }}">Revenir sur le morceau</a>

    {% include "admin/components/song/_sheet_form.html.twig" %}
{% endblock %}
