{% extends "showcase/layout.html.twig" %}

{% block title %}Calendrier - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">CALENDRIER</h1>

    {% for concert in concerts %}
        {% include "showcase/_concert_card.html.twig" with {"concert": concert} %}
    {% else %}
        <p>Aucun concert trouvé :( Mais ne partez pas trop loin, on revient bientôt! ;)</p>
    {% endfor %}

{% endblock %}
