{% extends "showcase/layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block content %}
    <h1>Contactez-nous!</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Envoyer!</button>
    {{ form_end(form) }}
{% endblock %}
