{% extends "showcase/layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">CONTACTEZ-NOUS!</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Envoyer!</button>
    {{ form_end(form) }}
{% endblock %}
