{% extends "showcase/layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">CONTACTEZ-NOUS!</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <datalist id="subjects">
            <option value="Demande d'informations pour réserver une date de concert"></option>
            <option value="Proposition d'une date pour un concert"></option>
            <option value="Question sur un concert à venir"></option>
            <option value="Question sur un concert passé"></option>
            <option value="Je souhaite rejoindre le groupe!"></option>
            <option value="J'ai pris des photos de votre concert, comment vous les envoyer?"></option>
            <option value="Comment faire pour vous soutenir?"></option>
            <option value="J'ai trouvé un bug sur votre site!"></option>
            <option value="J'ai flashé sur un·e membre du groupe, vous auriez pas son numéro?"></option>
        </datalist>
        <button class="btn btn-secondary"><i class="fas fa-paper-plane me-2"></i>Envoyer!</button>
    {{ form_end(form) }}
{% endblock %}
