{% extends "showcase/layout.html.twig" %}

{% block title %}Crédits - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">CRÉDITS</h1>

    <p>Ce site a été réalisé par <a target="_blank" class="link-secondary" href="https://www.linkedin.com/in/lucymerlier/"><strong>Lucy MERLIER</strong></a>. Vous pouvez retrouver son code source en vous rendant sur <a target="_blank" class="link-secondary" href="https://github.com/LucyMerlier/souq-jazz-machine">son dépôt GitHub</a>.</p>

    <p>Diverses technologies ont été utilisées pour la réalisation de ce projet, comprenant entre autres :</p>

    <ul>
        <li><a target="_blank" class="link-secondary" href="https://www.php.net/">PHP</a></li>
        <li><a target="_blank" class="link-secondary" href="https://symfony.com/">Symfony</a></li>
        <li><a target="_blank" class="link-secondary" href="https://twig.symfony.com/">Twig</a></li>
        <li><a target="_blank" class="link-secondary" href="https://getbootstrap.com/">Bootstrap</a></li>
        <li><a target="_blank" class="link-secondary" href="https://sass-lang.com/">Sass</a></li>
        <li><a target="_blank" class="link-secondary" href="https://www.mysql.com/fr/">MySQL</a></li>
        <li><a target="_blank" class="link-secondary" href="https://developer.mozilla.org/fr/docs/Web/JavaScript">JavaScript</a></li>
        <li><a target="_blank" class="link-secondary" href="https://git-scm.com/">Git</a></li>
        <li><a target="_blank" class="link-secondary" href="https://github.com/">GitHub</a></li>
        <li><a target="_blank" class="link-secondary" href="https://vscodium.com/">VSCodium</a></li>
        <li><a target="_blank" class="link-secondary" href="https://mailtrap.io/">Mailtrap</a></li>
    </ul>

    <p>Comme beaucoup des technologies du web, la majorité de celles-ci sont <strong>gratuites</strong> et/ou <strong>libres</strong>. En conséquence de cause, beaucoup d'entre elles dépendent potentiellement de dons pour leur développement continuel. N'hésitez donc pas à vous renseigner sur elles, et à contribuer si vous en avez les moyens et l'envie!</p>
{% endblock %}
