<form method="post" action="{{ path('admin_partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer ce partenaire? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash me-2"></i>Supprimer</button>
</form>
