{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-{% if button_label is defined %}{% if button_label == 'Modifier' %}warning{% else %}success{% endif %}{% else %}success{% endif %}"><i class="fas fa-{% if button_label is defined %}{% if button_label == 'Modifier' %}pen{% elseif button_label == 'Envoyer' %}paper-plane{% endif %}{% else %}plus{% endif %} me-2"></i>{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
