{% extends "admin/layout.html.twig" %}

{% block title %}Admin - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Salut {{ app.user.pseudonym ?? app.user.firstname }}!</h1>

    {% if unvoted_concerts %}
        {% for concert in unvoted_concerts %}
            <h2 class="h4 mt-3 mb-5 text-decoration-underline">Une nouvelle date a été proposée par {{ concert.owner.pseudonym ?? (concert.owner.firstname ~ ' ' ~ concert.owner.lastname) }}!</h2>
            {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
        {% endfor %}
        <hr>
    {% endif %}

    <h2 class="h4 mt-3 mb-5 text-decoration-underline">Prochain concert :</h2>
    {% if concert %}
        {% include "admin/concert/components/_concert_card.html.twig" with {"concert": concert} %}
    {% else %}
        <p>Aucun concert trouvé :(</p>
    {% endif %}
{% endblock %}
