{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un article - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un article :</h1>

    <a class="link-dark" href="{{ path('admin_news_index') }}">Revenir sur la liste des actus</a>

    {% include "admin/news/components/_form.html.twig" %}
{% endblock %}
