{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un instrument - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un instrument :</h1>

    <a class="link-dark" href="{{ path('admin_instrument_index') }}">Revenir sur la liste des instruments</a>

    {% include "admin/instrument/components/_form.html.twig" %}
{% endblock %}
