{% extends "admin/layout.html.twig" %}

{% block title %}Modifier l'instrument - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier l'instrument :</h1>

    <a href="{{ path('admin_instrument_index') }}">&lt;- Revenir sur la liste des instruments</a>

    {% include "admin/_form.html.twig" with {'button_label': 'Modifier'} %}
    <div class="my-1">
        {% include "admin/instrument/components/_delete_form.html.twig" %}
    </div>
{% endblock %}
