{% extends "admin/layout.html.twig" %}

{% block title %}Les instruments - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Les instruments :</h1>

    <div class="d-flex">
        <a class="btn btn-success" href="{{ path('admin_instrument_add') }}"><i class="fas fa-plus me-2"></i>Ajouter un instrument</a>
    </div>

    {% if instruments is not empty %}
        <table class="table table-striped mt-5 mb-3">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for instrument in instruments %}
                    <tr>
                        <td>{{ instrument.name }}</td>
                        <td>
                            {% if instrument.category == 'wind' %}
                                Vents
                            {% elseif instrument.category == 'rhythm' %}
                                Section rythmique
                            {% else %}
                                Autres
                            {% endif %}
                        </td>
                        <td class="d-flex flex-lg-row flex-column">
                            <div class="mb-lg-0 mb-1 me-lg-1 me-0"><a class="btn btn-warning" href="{{ path('admin_instrument_edit', {'id': instrument.id}) }}"><i class="fas fa-pen me-2"></i>Modifier</a></div>
                            <div class="mb-lg-0 mb-1 me-lg-1 me-0">{% include "admin/instrument/components/_delete_form.html.twig" %}</div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="mt-5">Aucun instrument trouvé...</p>
    {% endif %}
{% endblock %}
