<form method="post" action="{{ path('admin_news_delete', {'id': news_article.id}) }}" onsubmit="return confirm('Est-tu certain·e de vouloir supprimer cet article? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ news_article.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
