<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm({{ confirm_message|default('Êtes-vous certain·e de vouloir supprimer cet utilisateur?') }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">{{ button_label|default('Supprimer') }}</button>
</form>
