<form method="post" action="{{ path('admin_user_grant_admin', {'id': user.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir accorder les droits d\'administration à cet·te utilisateur·ice?');">
    <input type="hidden" name="_token" value="{{ csrf_token('grant_admin' ~ user.id) }}">
    <button class="btn btn-success"><i class="fas fa-lock-open me-2"></i>Rendre admin</button>
</form>
