@import "adminVariables";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font;
}

.btn {
    height: 30px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 300px;
    min-width: 150px;
}

.btn-outline {
    height: add($input-line-height * 1em, add($input-padding-y * 2, $input-height-border, false));
    border: 1px solid $input-border-color;
    border-radius: $border-radius;
    padding: $input-btn-padding-x $input-btn-padding-y;
    background-color: $light;

    &:hover {
        background-color: $light;
    }
}

hr {
    border: 1px solid $secondary;
}

.invalid-feedback {
    color: $error;
}

.is-invalid {
    border-color: $error;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23ff2c2c'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23ff2c2c' stroke='none'/%3e%3c/svg%3e");
}

.vich-image a img {
    height: 300px;
}

.form-check-input {
    appearance: checkbox;
}

a {
    color: $info;
    text-decoration: underline;
}

a:hover {
    color: $info-hover;
}
