@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode-VariableFont_wght.ttf');
}

$font: 'FiraCode';

$primary: #FFFFFF;
$secondary: #000000;
$success: #CAFFC9;
$warning: #FFDCA8;
$danger: #FFC9C9;
$light: #f3f3f3;
$info: #c9ebff;
$dark: #26b0ff;
$error: #ff2c2c;
