body {
    padding-bottom: 100px;
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
}

.carousel-row {
    height: 125px;
    display: flex;
    justify-content: center;
}

.img-fluid {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .carousel-inner {
        height: 300px;
    }

    .carousel-row {
        height: 100px;
    }
}

@media screen and (max-width: 576px) {
    .carousel-inner {
        height: 200px;
    }
}
