main {
    min-height: calc(100vh - 409.5px);
}

.carousel-inner {
    height: 500px;
}

.carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 100%;
}

.carousel-row {
    height: 125px;
    display: flex;
    justify-content: center;
}

.img-fluid {
    width: 100%;
    object-fit: cover;
}

textarea {
    height: 200px;
}

@media screen and (max-width: 768px) {
    main {
        min-height: calc(100vh - 558.367px);
    }

    .carousel-inner {
        height: 300px;
    }

    .carousel-row {
        height: 100px;
    }
}

@media screen and (max-width: 576px) {
    main {
        min-height: calc(100vh - 546.367px);
    }

    .carousel-inner {
        height: 200px;
    }
}
