@import "showcaseVariables";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $text-font;
    font-size: $text-size;
}

main {
    min-height: calc(100vh - 409.5px);
}

a {
    color: $secondary;
    text-decoration: underline;
}

a:hover {
    color: $secondary-hover;
}

.black-lizard {
    width: 30px;
    height: 30px;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: $title-font;
}

.card {
    background-color: $primary;
    font-size: $text-size;
}

.navbar-brand {
    font-size: $title-size;
}

.nav-link {
    font-size: $text-size;
}

hr {
    border: 1px solid $secondary;
}

@media screen and (max-width: 768px) {
    main {
        min-height: calc(100vh - 558.367px);
    }
}

@media screen and (max-width: 576px) {
    main {
        min-height: calc(100vh - 546.367px);
    }

    .navbar-brand {
        font-size: 1.5rem !important;
    }
}
