@font-face {
    font-family: 'Enriqueta';
    src: url('../fonts/Enriqueta-Bold.ttf');
}

@font-face {
    font-family: 'Josefin';
    src: url('../fonts/JosefinSans-VariableFont_wght.ttf');
}

$title-font: 'Enriqueta';
$text-font: 'Josefin';

$title-size: 2rem;
$text-size: 1.2rem;

$primary: #0c0c0c;
$secondary: #F7B239;
$secondary-hover: #f9c161;
$success: #ffa200;
$dark: #0c0c0cb9;
