{% if offers is not empty %}
    <div class="toast bg-secondary text-primary m-3 position-fixed bottom-0 end-0 w-25" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="toast-header bg-secondary text-primary">
            <strong class="me-auto">Hé! Pssst! Le Souq' recrute!</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {% if offers|length > 1 %}
                Le Souq' cherche à remplir les pupitres suivants :
                <ul>
                    {% for offer in offers %}
                        <li><a class="btn-dismiss" href="{{ path('showcase_apply_offer', {'id': offer.id}) }}">{{ offer.instrument.name|lower }}</a></li>
                    {% endfor %}
                </ul>
                <p>Sélectionne l'instrument qui t'intéresse ou <a type="button" class="btn-dismiss" data-bs-dismiss="toast" aria-label="Close">clique ici</a> pour ne plus afficher ce message :)</p>
            {% else %}
                <p>Le Souq' cherche à remplir son pupitre de <a class="btn-dismiss" href="{{ path('showcase_apply_offer', {'id': offers.0.id}) }}">{{ offers.0.instrument.name|lower }}</a>!</p>
                <p>Si ça t'intéresse, clique sur le nom de l'instrument, sinon <a type="button" class="btn-dismiss" data-bs-dismiss="toast" aria-label="Close">clique ici</a> pour ne plus afficher ce message :)</p>
            {% endif %}
        </div>
    </div>
{% endif %}
