<form method="post" action="{{ path('admin_song_sheet_delete', {'id': sheet.id}) }}" onsubmit="return confirm('Es-tu certain·e de vouloir supprimer cette partition? Cette action est irréversible');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sheet.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash me-2"></i>Supprimer</button>
</form>
