<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Souq' Jazz Machine
            {% endblock %}
        </title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock %}
        <main>
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="text-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
