{% extends "admin/layout.html.twig" %}

{% block title %}Modifier le tarif - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier le tarif :</h1>

    <a href="{{ path('admin_concert_edit', {'id': rate.concert.id}) }}">Revenir sur le concert</a>

    <h2 class="h5 my-4 text-decoration-underline">Concert du {{ rate.concert.date|date('d/m/Y') }} à {{ rate.concert.city }} :</h2>

    {% include "admin/concert/components/_rate_form.html.twig" with {"button_label": "Modifier"} %}
    <div class="my-1">
        {% include "admin/concert/components/_rate_delete_form.html.twig" %}
    </div>
{% endblock %}
