{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un tarif - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un tarif :</h1>

    <a href="{{ path('admin_concert_edit', {'id': rate.concert.id}) }}">&lt;- Revenir sur le concert</a>

    <h2 class="h5 my-4 text-decoration-underline">Concert du {{ rate.concert.date|date('d/m/Y') }} à {{ rate.concert.city }} :</h2>

    {% include "admin/_form.html.twig" %}
{% endblock %}
