{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un tarif - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un tarif :</h1>

    <a class="link-dark" href="{{ path('admin_concert_edit', {'id': rate.concert.id}) }}">Revenir sur le concert</a>

    {% include "admin/concert/components/_rate_form.html.twig" %}
{% endblock %}
