{% extends "bundles/TwigBundle/Exception/error_layout.html.twig" %}

{% block error %}
    <h1 class="text-center my-5">Erreur {{ status_code }}</h1>

    <p>Ooops! Il semblerait qu'une erreur soit survenue lors du chargement de cette page...</p>
    <p>
        N'hésitez pas à nous envoyer un message pour nous reporter cette erreur en vous rendant sur <a class="link-secondary" href="{{ path('showcase_contact') }}">cette page</a>.
    </p>
    <a class="link-secondary" href="{{ path('showcase_home') }}">Revenir sur le site du Souq'</a>
{% endblock %}
