{% extends "email/layout.html.twig" %}

{% block content %}
    <h1>Confirmation de votre adresse email</h1>

    <p>
        Ceci est un mail généré automatiquement, veuillez ne pas y répondre.
    </p>

    <p>
        Afin de finaliser votre inscription sur le site du Souq' Jazz Machine, veuillez confirmer votre adresse email en cliquant sur le lien suivant :        <a href="{{ signedUrl }}">Confirmer mon adresse email</a>.<br>
        Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        Votre mot de passe provisoire est : <strong>{{ plain_password }}</strong><br>
        Après avoir confirmé votre adresse e-mail, vous devrez remplacer ce mot de passe par celui de votre choix. Nous vous recommandons d'utiliser un mot de passe complexe et unique à ce site.
    </p>

    <p>
        Si vous pensez que cet email vous a été envoyé par erreur, merci de l'ignorer.
    </p>

    <p>
        Musicalement, le Souq'.
    </p>

{% endblock %}
