{% extends "email/layout.html.twig" %}

{% block content %}
    <h1>Droits super-admin :</h1>

    <p>
        {{ user.pseudonym ?? (user.firstname ~ ' ' ~ user.lastname) }} vient de te transmettre les droits super-admin!
    </p>
    <p>
        Tu as désormais accès à certaines actions supplémentaires, comme la capacité de supprimer n'importe quel utilisateur, même admin! Attention cependant, utilise ces pouvoirs avec parcimonie ;)
    </p>
    <p>
        N'hésite pas à demander des informations sur ce que ce pouvoir incommensurable représente à {{ user.pseudonym ?? user.firstname }}).
    </p>
    <p>
        Musicalement, le Souq'.
    </p>
{% endblock %}
