{% extends "email/layout.html.twig" %}

{% block content %}
    <h1>Droits d'admin :</h1>

    <p>
        {{ user.pseudonym ?? (user.firstname ~ ' ' ~ user.lastname) }} vient de t'accorder les droits d'administration!
    </p>
    <p>
        Tu as désormais accès à certaines actions supplémentaires, comme la capacité de valider une date de concert, d'inviter de nouveaux utilisateurs à nous rejoindre, ainsi que de leur accorder toi même les droits d'administration! Attention cependant, utilise ces pouvoirs avec parcimonie ;)
    </p>
    <p>
        N'hésite pas à demander des informations sur ce que ce pouvoir incommensurable représente à un·e autre administrateur·ice (comme {{ user.pseudonym ?? user.firstname }}).
    </p>
    <p>
        Musicalement, le Souq'.
    </p>
{% endblock %}
