{% extends "email/layout.html.twig" %}

{% block content %}
    <h1>Nouvelle proposition de date de concert!</h1>

    <p>
        {{ app.user.pseudonym ?? app.user.firstname }} vient d'ajouter une nouvelle proposition de date de concert, pour le {{ concert.date|date("d/m/Y") }} à {{ concert.city }}.
    </p>
    <p>
        Rends-toi vite sur le site du Souq' pour indiquer si tu penses être libre pour cette date!
    </p>
    <p>
        Musicalement, le Souq'.
    </p>
{% endblock %}
