{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un partenaire - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un partenaire :</h1>

    <a class="link-dark" href="{{ path('admin_partners') }}">Revenir sur la liste des partenaires</a>

    {% include "admin/partner/components/_form.html.twig" %}
{% endblock %}
