{% extends "admin/layout.html.twig" %}

{% block title %}Ajouter un contact - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Ajouter un contact :</h1>

    <a href="{{ path('admin_partners') }}">&lt;- Revenir sur la liste des contacts</a>

    {% include "admin/_form.html.twig" %}
{% endblock %}
