{% extends "admin/layout.html.twig" %}

{% block title %}Modifier le contact - {{ parent() }}{% endblock %}

{% block content %}
    <h1 class="h1 my-4">Modifier le contact :</h1>

    <a href="{{ path('admin_partners') }}">&lt;- Revenir sur la liste des contacts</a>

    {% include "admin/partner/components/_form.html.twig" with {'button_label': 'Modifier'} %}
    <div class="my-1">
        {% include "admin/partner/components/_delete_form.html.twig" %}
    </div>
{% endblock %}
